::-webkit-scrollbar{
  width: 0.5em;
}
::-webkit-scrollbar-track{
  background: #0e0b16;
  
}
::-webkit-scrollbar-thumb{
  border-radius : 100vw;
  background: #a239ca;
}

@tailwind base;
@tailwind components;
@tailwind utilities;